html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blinking {
  animation: blinker 1s linear infinite;
  color: red;
  text-align: center;
}

.skewed {
  transform: rotate(20deg);
}

.site-title {
  font-style: italic;
  font-family: cursive;
  text-align: left;
  width: 100%;
  color: white;
  background-color: #967bb6;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

@keyframes blinker {
  10% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
}
